body {
    
}

header {
}

#Name {
    float: left;
    background: #4aaaa5;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    margin-left: 15%;
    margin-right: 60%;
}
.Links {
    
    background: white;
    color: black;
    text-align: center;
    margin-left: 60%;
    margin-right: 15%;
    text-decoration: none;
}
#concrete{
    clear: both; 
    width: 100%;
    height: 100%;
    
}

#Profile {
    image-orientation: 270turn;
    width: 200px;
    height: 200px;
}