body {
    background-image: url(../images/vintage-concrete.png);

}
.top-bar {
    background: white;
    margin: -20px -20px -20px -20px;
    padding: 13px;
}
#name {
    background: #4aaaa5;
    padding: 15px;
    margin: 20px 955px -13px 155px;
    color: white;

}
.links {
    font-size: 20px;
    float: right;
    text-decoration: none;
    margin-top: -40px;
    margin-right: 200px;
}
a {
    text-decoration: none;
    color: rgb(189, 189, 189);
}
section {
    clear: both;
    float: left;
    background: white;
    width: 650px;
    height: 455px;
    padding: 20px;
    margin-left: 150px;
    margin-top: 40px;
}
img {
    float: left;
    padding: 5px;
}

h2 {
    border-bottom: 3px solid rgb(189, 189, 189);
    padding: 20px;
    margin: 0px;
    color: #4aaaa5;
    
}
#Profile {
    height: 40%;
    margin-top: 15px;
    
    
}


aside {
    float: left;
    background: white;
    width: 270px;
    height: 190px;
    margin-left: 30px;
    padding: 0px 20px 0px 20px;
    margin-top: 40px;
}

h3 {
    border-bottom: 2px solid rgb(189, 189, 189);
    padding: 5px;
    color: #4aaaa5;
}

.Icon-Links {
    clear: both;
    margin-left: 30px;
    color: rgb(189, 189, 189);
 
}
img {
    size: 10px;
}

#github, #linkedin, #stack {
    float: left;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px;
}
footer {
    clear: both;
    background: #666666;
    padding: 20px;
    text-align: center;
    margin: -100px;
    border-top: 4px solid blue;
}